.droplist{
          position: relative;
          background-color: white;
          z-index:6;
         box-shadow:  10px 10px 10px rgba(0, 0, 0, .2);
         max-height:55vh;
         overflow:scroll;
         padding-bottom:1rem;

     
}

.droplist_section{

          >h3{
                    font-size:1.3em;
                    font-weight: 700;
                    padding-left:1rem;
                    padding-block:15px;
                    border-top: 1px solid lightgrey; 
                    margin-top: 1rem;
          }

    &:nth-of-type(2)>h3{
          border-top: none;
          margin-top: 0;
          padding-top:0;
    }


          >ul{
                    list-style-type: none;
          }

}


.droplist_item{
          padding-block: 11px;
          padding-left:1rem;
          border:none;
          outline:none;
 

          &.search_val {
                    background-color: var(--tileBG);
                  margin-bottom: 1rem;
          }

          &:not(.search_val):hover{
                    background-color: var(--tileBG);
                    cursor:pointer;
                    color: var(--primaryColor);

                    &:last-child{
                              border-radius: 0 0 5px 5px;
                    }
          }
}

.droplist_item.highlighted {
      background-color: var(--tileBG);
}

.clearInputBtn {
      all: unset;
      position: absolute;
      right: 3.5rem;
      top: 20%;
      display: flex;
      color: var(--iconColor);

      border: 1px solid var(--iconColor);
      /* flex to center the icon */
      align-items: center;
      /* vertical center */
      justify-content: center;
      /* horizontal center */
      width: 1.75rem;
      /* equal width */
      height: 1.75rem;
      /* equal height */
      border-radius: 50%;
      /* makes it a circle */
      font-size: 1rem;
      /* size of the icon */
      cursor: pointer;   
      opacity: .4;
      transition: opacity 0.2s ease-in-out;
}

.clearInputBtn:hover{
      opacity: 1;
      color: var(--btnBG);
      
            border: 1px solid var(--btnBG);
}

.highlighted-btn {
      color: white !important;
      background-color: var(--btnBG) !important;
}