.droplist{
          position: relative;
          border-left: 2px solid var(--invCardTitle);
          border-bottom: 2px solid var(--invCardTitle);
          border-right: 2px solid var(--invCardTitle);
          background-color: white;
          border-radius: 0 0 8px 8px;
          width:calc(100% + 4px);
          margin-left:-2px;
          z-index:6;
         box-shadow:  10px 10px 10px rgba(0, 0, 0, .2);
         max-height:55vh;
         overflow:scroll;
         padding-bottom:1rem;

     
}

.droplist_section{

          >h3{
                    font-size:1.3em;
                    font-weight: 700;
                    padding-left:1rem;
                    padding-block:15px;
                    border-top: 1px solid lightgrey; 
                    margin-top: 1rem;
          
          
                    
                             
          }

    &:nth-of-type(2)>h3{
          border-top: none;
          margin-top: 0;
          padding-top:0;
    }


          >ul{
                    list-style-type: none;
          }

}


.droplist_item{
          padding-block: 11px;
          padding-left:1rem;
          border:none;
          outline:none;
 

          &.search_val {
                    background-color: var(--tileBG);
                    margin-bottom: 1rem;
          }

          &:not(.search_val):hover{
                    background-color: var(--tileBG);
                    cursor:pointer;
                    color: var(--primaryColor);

                    &:last-child{
                              border-radius: 0 0 5px 5px;
                    }
          }
}
