/* TABS BOX */
.tabs_box {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 3;
      display: flex;
      width: 100vw;
      /* full-screen  .tabs_box buttons*/
      >.tab_li {
            padding: 26px 18px;
            position: relative;
            font-weight: 550;
            font-size: 1.08rem;
            color: var(--iconColor);
            background-color: transparent;
            cursor: pointer;
            border: none;
            list-style-type: none;
           
      }

      /* TABS DROPDOWN */
      /* holds left (dropdown) & right (heart + claculator) sides */
      >.dropdown_wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            height: 60px;
            /* wrapper for left side */
            >.tabs_dropdown {
                  width: 100%;
                  height: 100%;
                  position:relative; /* here */

                  /* button (click to reveal .dropdown-menu) */
                  >.dropdown-toggle {
                        width: 100%;
                        height: 100%;
                        border: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-inline: 1rem;
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 1em;
                        background-color: transparent;
                        color: grey;
                        
                        > .arrow{
                              pointer-events: none;
                        }
                  }
                        /* dropdown menu */
                  >.dropdown-menu {
                        list-style-type: none;
                        background-color: white;
                        position: absolute;
                        right: 0;
                        top: 77px;
                        width: 25rem;
                        max-width:100%;
                        padding: 1rem;
                        border-radius: 20px;
                        box-shadow: var(--boxShadow2);
                        

                        >.dropdown-item {
                              cursor: pointer;
                              font-weight: 600;
                              padding-block: .5rem;
                              padding-left: .5rem;

                              &:hover {
                                    background-color: var(--tileBG);
                              }

                        }
                  }
            }


            >.second_child {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding-inline: .5rem;
                  height: 100%;

                  border-left: 1px solid lightgrey;

                  >* {
                        transform: scale(.8);
                  }
            }

      }
}

.horz_line {
      width: 100vw;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
      position: sticky;
      top: 73px;
      /* color: lightgrey; */
      outline: none;
      border: 1px solid lightgrey;
}

@media(max-width:900px) {
      .tabs_box {
            padding-inline: 0px !important;
      }

      .horz_line{
            top: 60px;
      }
}



.top_grid {
      /* border: 1px solid blue; */
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto auto;
      margin-top: .65rem;
      column-gap: /* 1.75rem */4rem;



      .aboutPrice {
            grid-column: 1;
            grid-row: 1;
      }

      .overview {
            grid-column: 1;
            grid-row: 2;
      }

      .features {
            grid-column: 1;
            grid-row: 3;
      }

      .delivery {
            grid-column: 2;
            grid-row: 1 / span 3;
            /* Span all three rows */
            position: sticky;
            top: 5.4rem;
      }

}

@media(max-width:765px) {
      .top_grid {
            display: flex;
            flex-direction: column;

            >.section {
                  margin-block: 3rem 2rem;
            }

      }
}



/* SECTION STYLE (REGARDLESS OF PLACEMENT) */

.section {
          /* border: 1px solid black; */
          width: 100%;
          margin-block: 4.5rem 3rem;

          >.section_h3 {
                    font-size: 1.7em;
                    letter-spacing: -.25px;
                    color: var(--primaryColor);
                    margin-bottom: 1.25rem
          }
}

.features, .delivery{
      margin-bottom:0;
}



/* ABOUT THE PRICE */
.aboutPrice_main{
          padding:1rem;
          padding-bottom:24px;
          border-radius:15px;
          border: 2px solid lightgrey;

          .priceDrop_box{
              max-width: 9rem;;
              /* border: 1px solid black; */


              .priceDrop_btn {
                    font-size:1em;
                    border-radius: 30px;
                    background-color: var(--moneyGreen);
                    font-weight: 500;
                    color: white;
                    padding: .55rem .75rem;
                    border: none;  
                    margin-bottom: 1.35rem;      
                     }
              
              .was_price{
                    color: "grey";
                    padding-left: .45rem;;

                    .crossOut{
                              text-decoration: line-through;
                    }
              }

                    .actualPrice {
                    color: var(--primaryColor);
                    font-weight: 600;
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    gap: .2rem;
                    position:relative;

                    svg{
                       &:first-child{
                         font-size: 2.25rem;
                         fill:var(--moneyGreen);
                         z-index:1;
                      }
                       &:nth-child(2){
                          font-size: 1.2rem;
                         fill: white;
                         position:absolute;
                         top:9px;
                         left:.55rem;
                         z-index: 2;
                       }
                    }
              }
          }
          .aboutPrice_para{
                    margin-top:1.5rem;
          }
    
}

/* OVERVIEW */
.overview_grid{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: auto;
          gap: .75rem; 

          .grid_cell{
                    display:flex;
                    flex-direction: column;

                >svg{
                  margin-bottom: .2rem;
                }    
          }
}

.grid_cell >svg{
      fill: var(--invCardTitle);
      font-size: 2.7em;
      flex-shrink: 0;
}

h4.cell_title {
          font-size: 1.2em;
          color: var(--primaryColor);
          letter-spacing: -1px;
}

.grid_para {
          font-size: .9em;
          margin-top: .15rem;
          line-height: 1.5;
          color: rgb(100, 100, 100);
}


.overview_grid_mobile > .grid_cell:nth-child(-n+3) {
          display: flex;
          flex-direction: row;
          gap:1rem;
          align-items: center;       
          margin-bottom: 1rem;
          padding-left: .5rem;
}

.overview_grid_mobile > .bottom_grid{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: auto;
          gap: .75rem;

          >.grid_cell{
                    display:flex;
                    gap:0;
                    flex-direction: column;
                    align-items: flex-start;
          }
}

/* DELIVERY BOX */
.delivery{
          border-radius: 15px;
          box-shadow: var(--boxShadow2);
          padding: 1rem;
          padding-bottom: 24px
}

/* FEATURES & SPECS */
.features{
      >p{
            margin-bottom: 1.5rem;
            margin-left:.25rem;

      }
}

.features_img_box{
      display: flex;
      flex-direction: column;
      align-items:center;
      background: radial-gradient(circle,
                        rgb(56, 111, 165) 0%,
                        rgb(40, 80, 120) 100%);
      border-radius:12px;
      padding: 1.5rem;
      color: white;
      gap:1rem;
      margin-bottom:2rem;

      >* {
                  flex: 1;
            }
      
      >img{
            width: 40%;
      }
      >.features_img_textBox{
            text-align: center;
              
            >h4 {
                        font-size: 1.8rem;
                        font-weight: 550;
                        letter-spacing: -.5px;
                        margin-bottom: .5rem;
                  }
            >p{
                  font-size: .9em
            }
      }
      
}
@media(min-width:900px){
      .features_img_box{
            flex-direction: row;
            gap: 3rem;
            padding: 3rem;
            
          
            > .features_img_textBox {
                    text-align: start;     }
      }
}


.delivery{
      height:max-content;
      
}


